body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1759681770972-560b9949da0b?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-attachment: fixed;
    background-size: 120%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
    padding: 100px;
}

@media (max-width:500px) {
    .container {
        padding: 10px;
    }

}

h1 {
    color: rgb(201, 135, 36);
    font-weight: bold;
    font-size: 40px;
}

p {
    color: rgb(7, 136, 93);
}